<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>
      Détails du {{summit.name}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="isFavorite = !isFavorite">
        <ion-icon [name]="favoriteIcon()" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">summit-detail</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card style="height: 30%;">
    <ion-img [src]="summit.photoUrl" style="max-width: 100%; max-height: 100%;">
    </ion-img>
  </ion-card>
  <ion-card>
    <ion-card-content>{{summit.wikiDescription}}</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <a *ngIf="summit.linksUrl" [href]="summit.linksUrl[0]"><ion-thumbnail><ion-img src="../../assets/icon/Visorando.jpg"></ion-img> </ion-thumbnail></a>
          </ion-col>
          <ion-col>
            <a *ngIf="summit.linksUrl" [href]="summit.linksUrl[1]"><ion-thumbnail><ion-img src="../../assets/icon/altituderando.jpg"></ion-img></ion-thumbnail></a>
          </ion-col>
          <ion-col>
            <a *ngIf="summit.linksUrl" [href]="summit.linksUrl[2]"><ion-thumbnail><ion-img src="../../assets/icon/camp2camp.png"></ion-img></ion-thumbnail></a>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card style="height: 25%;">
    <ion-card-content>
      <swiper-container>
        <swiper-slide *ngFor="let photo of summit.photoGallery"><ion-img src="{{photo}}" style="max-height: max-content; max-width: max-content;"></ion-img></swiper-slide>
      </swiper-container>
    </ion-card-content>
  </ion-card>
  <ion-buttons>
    <ion-button><ion-icon name="camera-outline"></ion-icon>Ajouter une photo</ion-button>
  </ion-buttons>
</ion-content>