<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-buttons>
        <ion-menu-button slot="start"></ion-menu-button>
        <ion-button slot="start" (click) ="goBack()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>
        {{summit.name}}
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="addFavorite()">
          <ion-icon [name]="favoriteIcon()" size="large"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">summit-detail</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-img [src]="summit.photoUrl">
    </ion-img>
  </ion-card>
  <ion-card *ngIf="summit.wikiDescription; else noDescriptionTemplate">
    <ion-card-content>
      <ion-item lines="none">{{summit.wikiDescription}}</ion-item>
      <!-- <ion-item lines="none"> -->
        <ion-buttons slot="end">
          <ion-button *ngIf="summit.wikipediaPage" (click)="openInAppBrowser(summit.wikipediaPage)" color="primary">Voir les informations
            détaillées<ion-icon name="arrow-forward-circle-outline"></ion-icon></ion-button>
        </ion-buttons>
      <!-- </ion-item> -->
    </ion-card-content>
  </ion-card>

  <!-- Template Alternatif si pas de description Wikipédia-->
  <ng-template #noDescriptionTemplate>
    <ion-card>
      <ion-card-content>
      <ion-item lines="none">Pas de description disponible pour ce sommet</ion-item>
      </ion-card-content>
    </ion-card>
  </ng-template>

  <ion-card *ngIf="summit.linksUrl" class="thumbnails">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let link of summit.linksUrl;">
            <ion-button (click)="openInAppBrowser(link)" fill="clear"><ion-thumbnail><ion-img style="--border-radius : 10px; object-fit: content;"
                  [src]="thumbnailsSrc[displayProperThumbnail(link)]"></ion-img> </ion-thumbnail></ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content style="height: 25%;">
      <swiper-container slides-per-view="2">
        <swiper-slide *ngFor="let photo of summit.photoGallery"><ion-card *ngIf="summit.photoGallery" (click)="enlargePictures(summit.photoGallery)"><img [src]="photo"></ion-card></swiper-slide>
      </swiper-container>
      <ion-item lines="none">
          <ion-button (click)="takePicture()" class="pictureButton" slot="end" size="medium"><ion-icon
              name="camera-outline"></ion-icon>Ajouter une photo</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>