// ion-card {
//     height: 30%;
//     width: 90%;
//     display: grid;
//     grid-row: 6;
//     grid-column: 6;
//     grid-template-rows: repeat(6, 1fr);
//   }

  ion-input{
    width: 100%;
    margin-bottom: 5%;
  }

  .button-container {
    display: flex;
    justify-content: center;
  }

  ion-button{
    font-family: 'Roboto';
  }