<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title> Mon Compte </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="userInfo$ | async as userInfo;">
  <ion-card>

    <ion-card-header>
      <ion-avatar>
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="avatar-icon">
      </ion-avatar>
      <ion-card-title>Bienvenue sur votre espace <div class="username">{{userInfo.username}}</div></ion-card-title>
      <ion-card-content>
        Vous êtes membre depuis le {{userInfo.creationDate}}
      </ion-card-content>
    </ion-card-header>
  </ion-card>
  <div class="button-container">
    <ion-button shape="round" color="danger" (click)="logout()">Déconnexion</ion-button>
  </div>
</ion-content>