<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <ion-searchbar debounce="500" (ionInput)="getItems($event)" style="z-index: 900;">
    <ion-list *ngIf="isItemAvailable">
      <ion-item>
        <ion-select  interface="popover" placeholder="Entrez un lieu">
          <ion-select-option *ngFor="let option of autocompleteList | async"> {{ option }}</ion-select-option>
        </ion-select>
     </ion-item>
    </ion-list>
  </ion-searchbar> -->

  <!-- <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->
  <div style="height: 100%; width: 100%;"
      leaflet
      [leafletOptions]="options"
      [leafletLayersControl]="layersControl"
      (leafletMapReady)="onMapReady($event)"
  >
  <!-- <ion-searchbar style="z-index: 999;" placeholder="Entrez un lieu"></ion-searchbar> -->
  
     
  </div>
  <!-- <ion-button id="refreshButton"> Locate </ion-button> -->
</ion-content>


